* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fira Sans', sans-serif;
}

/* Header */
.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 600px;
}

.item__link {
    text-decoration: none;
    color: #999;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.item__link:hover {
    border-bottom: 1px solid black;
}

.item__link--black {
    color: black;
    border-bottom: 1px solid black;
}

.navigation__button {
    width: 140px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.navigation__button:hover {
    background-color: #343332;
    color: #fff;
    box-shadow: 2px 2px 5px #999;
}

/* Hero content for downloading the app*/

.header__hero-content {
    background-color: #eee;
    height: 65vh;
    min-width: 375px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.hero-content__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.text__download {
    font-size: 3rem;
}

.text__description {
    font-size: 1rem;
    max-width: 500px;
    text-align: center;
    padding: 10px 0 0 0;
}

.hero-content__buttons {
    min-width: 320px;
    display: flex;
    justify-content: space-between;
}

.button__socials {
    width: 150px;
    height: 40px;
    background-color: #222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1.2rem;
}

.button__img-icon {
    width: 30px;
    padding: 0px 10px 0px 0px;
}

/* Main */

/* product cards */
.main__products {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__header-text {
    font-size: 2.5rem;
    padding: 60px;
}

.products__item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 5px;
}

.item__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 400px;
    background-color: #EBEBEB;
    border-radius: 4px;
    cursor: pointer;
}

.cards__title {
    font-size: 1.5rem;
    margin: 70px 0 0 0;
}

.cards__price {
    padding: 10px 0;
}

.item__collection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #343332;
    border-radius: 4px;
    grid-column: span 2;
}


.collection__title{
    font-size: 2.5rem;
    text-transform: uppercase;
    /* Animation that changes the text color */
    animation: colors 4s infinite alternate;
}

.collection__summer-edition {
    color: #999;
    font-size: 1.1rem;
}

.cards__button {
    width: 130px;
    height: 40px;
    background-color: #343332;
    border: 1px solid #999;
    border-radius: 4px;
    margin: 30px 0 0 0;
    color: #999;
    font-size: 0.6rem;
    cursor: pointer;

    /* Animation that changes the border-shadow on buttons */
    animation: button-glowing-colors 4s infinite alternate;
}

/* Footer */

.footer {
    background-image: url(images/Footer-bg.png);
    background-position: center;
    background-size: cover;
    height: 50vh;
    max-width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__contact {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-width: 400px;
    height: 400px;
    margin-right: 100px;
    padding: 0 10px;
    border-radius: 4px;
}

.contact__information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 304px;
    width: 290px;
}

.description__title {
    color: #464646;
}

.description__title--big {
    font-size: 3rem;
}

.description__title--small {
    font-size: 1.3rem;
}

.information__contact-info {
    display: flex;
    margin: 10px 0;
}

.contact-info__img {
    padding: 0 5px;
}

/* Contact form */
.contact__form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-left: 1px solid black;
}

.form__label {
    font-size: 1rem;
}

.form__input {
    border: none;
    border-bottom: 1px solid black;
    width: 170px;
    margin-top: 5px;
    font-size: 1rem;
}

#submit {
    width: 150px;
    height: 30px;
    align-self: center;
    background-color: #464646;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#submit:hover {
    background-color: #343332;
    box-shadow: 2px 2px 5px #999;
}

/* Changing the product size for devices smaller than 1100px */

@media screen and (max-width: 1100px) {

    .item__cards {
        width: 200px;
    }
}

/* For screens smaller than 900px */

@media screen and (max-width: 900px) {

    /* Hiding the header button and navbar for smaller screens */
    .navigation__nav, .navigation__button {
        display: none;
    }

    .header__navigation {
        flex-direction: row-reverse;
        align-items: center;
    }

    /* Hamburger-menu  */
    .header__navigation:before {
        content: "\2630";
        cursor: pointer;
        font-size: 2rem;
    }

    /* Changing the font-size and image-size on the hero-content */
    .text__download {
        font-size: 2rem;
    }

    .text__description {
        padding: 5px;
    }

    .hero-content__img {
        width: 255px;
    }

    .header__hero-content {
        min-width: 320px;
    }

    /* Changing the grid for tablets and mobile */
    .products__header-text {
        font-size: 2rem;
    }

    .products__item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 50px;
        max-width: 100%;
    }

    .item__cards {
        grid-column: auto;
        width: 250px;
    }

    /* Changing the position and size of contact content */ 
    .footer {
        display: flex;
        justify-content: center;
    }

    .footer__contact {
        min-width: 320px;
        margin: 10px;
    }

    .information__description {
        display: none;
    }

    .contact__information {
        height: 200px;
    }

    .information__contact-info {
        padding: 0 5px;
    }

    .form__input--message {
        width: 150px;
        height: 50px;
    }
}

/* Changing the product-size for screens smaller than 555px */
@media screen and (max-width: 555px) {
    
    .products__item {
        gap: 10px;
    } 

    .item__cards {
        max-width: 160px;
    }

    .footer {
        height: auto;
    }

    .footer__contact {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }

    .contact__information {
        height: 150px;
    }

    .contact__form {
        border: none;
        border-top: 1px solid black;
        width: 100%;
    }
}

/* Animation that changes the text color */
@keyframes colors {
    0% {color: white;}
    25% {color: lightyellow;}
    50% {color: lightpink;}
    75% {color: lightblue;}
    100% {color: lightgreen;}
}

/* Animation that changes the box-shadow on buttons */
@keyframes button-glowing-colors {
    0% {box-shadow: 0 0 5px white;}
    25% {box-shadow: 0 0 5px lightyellow;}
    50% {box-shadow: 0 0 5px lightpink;}
    75% {box-shadow: 0 0 5px lightblue;}
    100% {box-shadow: 0 0 5px lightgreen;}
}